<!doctype html>
<html>
    <body>
    <h1>{{date}}</h1>
    <div style="align:center; text-align:center">
    <table style="width:100%">
        <tr>
            <td style="width:60%">
                {% for section,item in left_sections.items %}
                {% if item %}
                <div id='section{{section}}' style='margin-bottom:20px; border-bottom:1px solid black;'>
                    <h2>{{item.title}}</h2>
                    <div class='content'>
                        {% if item.image %}
                        <img src='/{{item.image}}'>
                        {% endif %}
                        {{item.content|safe}}
                    </div>
                    {% if logged_in %}
                    <a href='/newsletter/{{item.pk}}/edit/'>Edit this section</a>
                    {% endif %}
                </div>
                {% else %}
                <div id='section{{section}}' class='not-filled' style='margin-bottom:20px; border-bottom:1px solid black;'>
                    {% if logged_in %}
                    <a href='/newsletter/new/?position={{section}}&date_to_publish={{date}}'>Add something to this section</a>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </td>
            <td style="width:40%">
                {% for section,item in right_sections.items %}
                {% if item %}
                <div id='section{{section}}' style='margin-bottom:20px; border-bottom:1px solid black;'>
                    <h2>{{item.title}}</h2>
                    <div class='content'>
                        {% if item.image %}
                        <img src='{{item.image}}'>
                        {% endif %}
                        {{item.content|safe}}
                    </div>
                    {% if logged_in %}
                    <a href='/newsletter/{{item.pk}}/edit/'>Edit this section</a>
                    {% endif %}
                </div>
                {% else %}
                <div id='section{{section}}' class='not-filled' style='margin-bottom:20px; border-bottom:1px solid black;'>
                    {% if logged_in %}
                    <a href='/newsletter/new/?position={{section}}&date_to_publish={{date}}'>Add something to this section</a>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </td>
        </tr>
    </table>
    {% if logged_in %}
    <div id='extras'>
        <p>The following sections will not appear in the newsletter on this date. They are only here if you want to store something in a draft state</p>
        {% for item in extras %}
        <div style='margin-bottom:20px; border-bottom:1px solid black;'>
            <h2>{{item.title}}</h2>
            <div class='content'>
                {% if item.image %}
                <img src='{{item.image}}'>
                {% endif %}
                {{item.content|safe}}
            </div>
            <a href='/newsletter/{{item.pk}}/edit/'>Edit this section draft</a>
        </div>
        {% endfor %}
        <div>
            <a href='/newsletter/new/?position=6&date_to_publish={{date}}'>Add a section draft</a>
        </div>
    </div>
    {% endif %}
    </div>
    </body>
</html>

