<!doctype html>
<html>
    <head>
        {% load staticfiles %}
        <script type='text/javascript' src='{% static "jquery-ui-1.10.4.custom/js/jquery-1.10.2.js" %}'></script>
        <script type='text/javascript' src='{% static "jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js" %}'></script>
        <style>@import url('{% static "jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css" %}');</style>
        <script>
            $(document).ready(function() {
                var this_date = $.datepicker.parseDate('yy-mm-dd', '{{date}}');
                $('#date').datepicker({
                    defaultDate: this_date,
                    onSelect: changeDate,
                });
            });

            function changeDate(new_date_string) {
                //changeDate is triggered when the user chooses a new date and sends the user to 
                //the corresponding url that contains the proper info
                var new_date = new Date(new_date_string);
                var year = new_date.getFullYear();
                var month = new_date.getMonth() + 1;  //getMonth returns 0-11 instead of 1-12
                var day = new_date.getDate();
                window.location.href = '/newsletter/' + year + '/' + month + '/' + day + '/';
            }
        </script>
    </head>
    <body>
        <h1>{{date}}</h1>
        <input type='submit' id='date' value='Choose another day'></input>
    <div style="align:center; text-align:center">
    <table style="width:100%">
        <tr>
            <td style="width:60%">
                {% for section,item in left_sections.items %}
                {% if item %}
                <div id='section{{section}}' style='margin-bottom:20px; border-bottom:1px solid black;'>
                    <h2>{{item.title}}</h2>
                    <div class='content'>
                        {% if item.image %}
                        <img src='{{item.image.url}}'>
                        {% endif %}
                        {{item.content|safe}}
                    </div>
                    {% if logged_in %}
                    <a href='/newsletter/{{item.pk}}/edit/'>Edit this section</a>
                    {% endif %}
                </div>
                {% else %}
                {% if logged_in %}
                <div id='section{{section}}' class='not-filled' style='margin-bottom:20px; border-bottom:1px solid black;'>
                    <a href='/newsletter/new/?position={{section}}&date_to_publish={{date}}'>Add something to this section</a>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </td>
            <td style="width:40%">
                {% for section,item in right_sections.items %}
                {% if item %}
                <div id='section{{section}}' style='margin-bottom:20px; border-bottom:1px solid black;'>
                    <h2>{{item.title}}</h2>
                    <div class='content'>
                        {% if item.image %}
                        <img src='{{item.image.url}}'>
                        {% endif %}
                        {{item.content|safe}}
                    </div>
                    {% if logged_in %}
                    <a href='/newsletter/{{item.pk}}/edit/'>Edit this section</a>
                    {% endif %}
                </div>
                {% else %}
                {% if logged_in %}
                <div id='section{{section}}' class='not-filled' style='margin-bottom:20px; border-bottom:1px solid black;'>
                    <a href='/newsletter/new/?position={{section}}&date_to_publish={{date}}'>Add something to this section</a>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </td>
        </tr>
    </table>
    {% if logged_in %}
    <div id='extras'>
        <p>The following sections will not appear in the newsletter on this date. They are only here if you want to store something in a draft state</p>
        {% for item in extras %}
        <div style='margin-bottom:20px; border-bottom:1px solid black;'>
            <h2>{{item.title}}</h2>
            <div class='content'>
                {% if item.image %}
                <img src='{{item.image.url}}'>
                {% endif %}
                {{item.content|safe}}
            </div>
            <a href='/newsletter/{{item.pk}}/edit/'>Edit this section draft</a>
        </div>
        {% endfor %}
        <div>
            <a href='/newsletter/new/?position=6&date_to_publish={{date}}'>Add a section draft</a>
        </div>
    </div>
    {% endif %}
    </div>
    </body>
</html>

