{% load newsletter_extras %}
<table style="width:600px; margin:auto; table-layout:fixed">
    <tr>
        <td style="width:300px;padding:10px">
            {% for section,item in left_sections.items %}
            {% if item %}
            <div id='section{{section}}' style='margin-bottom:20px; border-bottom:1px solid black;'>
                <h2>{{item.title}}</h2>
                <div class='content'>
                    {% if item.image %}
                    <img src='{{CDN}}{{SUBSITE}}{{item.image.url|thumbnailify:"large"}}'>
                    {% endif %}
                    {{item.content|safe}}
                </div>
                {% if logged_in %}
                <a href='{{SUBSITE}}/newsletter/{{item.pk}}/edit/'>Edit this section</a>
                {% endif %}
            </div>
            {% else %}
            {% if logged_in %}
            <div id='section{{section}}' class='not-filled' style='margin-bottom:20px; border-bottom:1px solid black;'>
                <a href='{{SUBSITE}}/newsletter/new/?position={{section}}&date_to_publish={{date}}'>Add something to this section</a>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </td>
        <td style="width:260px;padding:10px">
            {% for section,item in right_sections.items %}
            {% if item %}
            <div id='section{{section}}' style='margin-bottom:20px; border-bottom:1px solid black;'>
                <h2>{{item.title}}</h2>
                <div class='content'>
                    {% if item.image %}
                    <img src='{{CDN}}{{SUBSITE}}{{item.image.url|thumbnailify:"small"}}'>
                    {% endif %}
                    {{item.content|safe}}
                </div>
                {% if logged_in %}
                <a href='{{SUBSITE}}/newsletter/{{item.pk}}/edit/'>Edit this section</a>
                {% endif %}
            </div>
            {% else %}
            {% if logged_in %}
            <div id='section{{section}}' class='not-filled' style='margin-bottom:20px; border-bottom:1px solid black;'>
                <a href='{{SUBSITE}}/newsletter/new/?position={{section}}&date_to_publish={{date}}'>Add something to this section</a>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
</table>
